目次</br>

<a href="#title">糖尿病とは</a></br>
<a href="#title1">1型糖尿病</a></br>
<a href="#title2">2型糖尿病</a></br>









<a name="title">糖尿病とは</a></br>
<a name="title1">1型糖尿病</a></br>
<a name="title2">2型糖尿病</a></br>
